---
interface Props {
    type: string;
    title: string;
    bannerStyle: number;
    banner: string;
    bannerType: number;
    desc: string;
}
let {type, title, bannerStyle, banner, bannerType, desc} = Astro.props;
let blur = false;
if (type === 'post' || type == 'page') {
    banner = Astro.props.bannerStyle < 2 ? banner : "";
    blur = Astro.props.bannerType === 1;
}
let genclass = ["lazy-wrap"];
if (banner === "") {
    genclass.push("no-banner");
} else {
    genclass.push("loading dark");
}
if (type == 'index') {
    genclass.push("index");
}
if (type == 'archive') {
    genclass.push("archive");
}
---

<div class:list={genclass}>
    {banner != "" ?
            <div id="banner" class={blur && "blur"} data-src={banner}>
                <img src={banner} class="" data-src={banner}></div> :
            <>
                <script is:inline>$('body>header').addClass('force-dark').addClass('no-banner');</script>
                <style>main > .lazy-wrap {
                    min-height: 0;
                }</style>
            </>
    }

    <div class="banner-title index force-normal">
        <h1 class="post-title"><span class="brand">
                        <span>{title}</span></span><br/>
            <span class="subtitle">{desc}</span>
        </h1>
    </div>
</div>