---
import {buildByTag} from "../utils/astro";
const posts = await buildByTag();
---
<section id="archive-list" class="yue float-up">
    {Object.keys(posts).map((tag)=>(
        <>
            <h2><a href={`/category/${tag}`}>{tag}</a><span class="num-posts">{`${posts[tag].length}篇`}</span>
                <a no-pjax data-year={tag} data-num={posts[tag].length} class="toggle-archive" href="javascript:void(0);" onclick="VOID_Ui.toggleArchive(this); return false;">-</a></h2>
            <section id={`year-${tag}`} class="year shrink" style="max-height: 0px; transition-duration: 0.03s">
                <ul>
                    {posts[tag].map((post) => (
                            <li>
                                <a class="archive-title show-word-count pjax" data-words={post.body.length} href={`/posts/${post.slug}`}>
                                    <span class="date">{`${new Date(post.data.date).getFullYear()}-${new Date(post.data.date).getMonth()+1}-${new Date(post.data.date).getDate()}`}</span>
                                    {post.data.title}
                                </a>
                            </li>
                    ))}
                </ul>
            </section>
        </>
    ))}
</section>