---
import {SEO} from "astro-seo";
const siteConfig = Astro.locals.config.siteConfig;
const themeConfig = Astro.locals.config.themeConfig;
---

<>
    <footer>
        <div class="container wide">
            <section>
                <p>© {new Date().getFullYear()}&#20;<span class="brand">{siteConfig.title}</span></p>
                <p>感谢陪伴：<span id="uptime"></span></p>
                <p><span id="hitokoto_text">少女祈祷中...</span></p>
            </section>
            <section>
                <p>Proudly using <a href="https://astro.build">Astro</a> • <a
                        href="https://blog.imalan.cn/archives/247/">Theme VOID</a></p>
                <p>
                    <a href="/feed/" rel="noopener" class="pjax">RSS 订阅</a>
                    • <a href="/sitemap.xml" rel="noopener" class="pjax">站点地图</a>
                    • <a href="/about/" rel="noopener" class="pjax">关于</a>
                    • <a href="/links" rel="noopener" class="pjax">友情链接</a>
                </p>
                <p>
                    <a href="https://icp.gov.moe/">萌ICP备</a> 20240609号-1
                </p>
            </section>
        </div>
    </footer>
    <aside id="ctrler-panel">
        <div class="ctrler-item" id="go-top">
            <a target="_self" aria-label="返回顶部" href="javascript:void(0);" style="transform: translateX(-2px);"
               onclick="VOID_SmoothScroller.scrollTo(0);"><i class="voidicon-up"></i></a>
        </div>


        <div aria-label="展开或关闭设置面板" id="toggle-setting-pc" class="ctrler-item hidden-xs">
            <a target="_self" href="javascript:void(0);" style="transform: translateX(-2px);"
               onclick="VOID_Ui.toggleSettingPanel();"><i class="voidicon-cog"></i></a>
        </div>
        <div aria-label="展开或关闭文章目录" class="ctrler-item" id="toggle-toc">
            <a target="_self" href="javascript:void(0);" style="margin-left: -2px" onclick="TOC.toggle()"><i
                    class="voidicon-left"></i></a>
        </div>
    </aside>
    <aside hidden id="setting-panel">
        <section>
            <div id="toggle-night">
                <a target="_self" href="javascript:void(0)"
                   onclick="VOID_Ui.DarkModeSwitcher.toggleByHand();"><i></i></a>
            </div>
            <div id="adjust-text-container">
                <div class="adjust-text-item">
                    <a target="_self" href="javascript:void(0)" onclick="VOID_Ui.adjustTextsize(false);"><i
                            class="voidicon-font"></i>-</a>
                    <span id="current_textsize"></span>
                    <a target="_self" href="javascript:void(0)" onclick="VOID_Ui.adjustTextsize(true);"><i
                            class="voidicon-font"></i>+</a>
                </div>
                <div class="adjust-text-item">
                    <a target="_self" class="font-indicator  checked" href="javascript:void(0)"
                       onclick="VOID_Ui.toggleSerif(this, false);">Sans</a>
                    <a target="_self" class="font-indicator checked" href="javascript:void(0)"
                       onclick="VOID_Ui.toggleSerif(this, true);">Serif</a>
                </div>
            </div>
        </section>
        <section id="links">
            <a target="_self" class="link" href="javascript:void(0)" onclick="VOID_Ui.toggleLoginForm()"><i
                    class="voidicon-user"></i></a>
            <!--<a class="link" title="RSS" target="_blank" href="/feed.xml"><i class="voidicon-rss"></i></a>-->
        </section>
        <section id="login-panel">

        </section>
    </aside>

    <script data-manual src="/assets/bundle.js"/>
    {<script>
    var swUri = '/VOIDCacheRule.js';
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register(swUri).then(function (registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
    else console.log('ServiceWorker not supported.');
</script>}
    <!-- 跳过serviceworker了这个是最后再搞的东西xxx-->
    {themeConfig.enableMath && <script is:inline src="/assets/libs/mathjax/2.7.4/MathJax.js"/>}
    <script is:inline src="/assets/VOID.js"/>
    <script is:inline src="/assets/ExSearch.js"/>
    <script is:inline src="/assets/overlayscrollbars.min.js"/>
    <script data-reloadfunc={themeConfig.pjaxreload}>
        const osInstance =   OverlayScrollbarsGlobal.OverlayScrollbars(document.body, {});
        if(document.currentScript.dataset.reloadfunc){
            $(document).on('pjax:complete', function () {
                eval(document.currentScript.dataset.reloadfunc);//额非常无语的写法
            })
        }
        //Hitokoto
        fetch("https://v1.hitokoto.cn")
            .then(response => response.json())
            .then(data => {
                $("#hitokoto_text")[0].innerText = `${data.hitokoto} —— 「${data.from}」`;
            }).catch((e)=>{
                console.log(e);
                $("#hitokoto_text")[0].innerText = `祈祷失败了...的说`
        });
        //     EXSearch,pass.
    </script>
    <!--    这里放自定义的footer内容哦！  -->
</>