---
import {getWordCount} from "../utils/notion/posts";
const data = Astro.props.post;
let generateClass = () => {
    let bannerAsCover = data.bannerAsCover;
    if(data.banner == ""){
        bannerAsCover = "0";
    }
    let ret = "masonry-item style-";
    ret += `${bannerAsCover}`
    return ret;
};
let formatCustomDate = (date) => {
    date = new Date(date);
    const months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    const daySuffix = ['TH', 'ST', 'ND', 'RD'];

    const year = date.getFullYear();
    const month = months[date.getMonth()];
    const day = date.getDate();
    const suffix = (day >= 11 && day <= 13) ? 'TH' : daySuffix[day % 10] || 'TH';

    return `${month} ${day}${suffix},${year} `;
}
---
<li id={`p-${data.id.slice(0,5)}`} class={generateClass()}>
    <a href={`/posts/${data.slug}`}>
        <article class="yue">
            <div class="articleBody">
                {data.banner != "" &&
                        <div class="banner">
                            <img class="lazyload browserlevel-lazy" loading="lazy" src={data.banner}
                                 alt={data.title}/>
                        </div>}
                <div class="content-wrap">
                    <div class="post-meta-index">
                        <time datetime={data.createdAt}>{formatCustomDate(data.createdAt)}</time>
                        <span class="word-count">{getWordCount(data.id)} 字</span>
                    </div>
                    <h1 class="title">{data.title}</h1>
                    <!--{data.data.showFullContent==1 && <a href={`/posts/${data.slug}`}></a>}-->
                    <div class="articleBody">
                        <p>{data.excerpt}</p>
                    </div>
                </div>
            </div>
        </article>
    </a>
</li>
<script data-slug={data.id.slice(0,5)}>
    VOID_Ui.MasonryCtrler.watch(`p-${document.currentScript.dataset.slug}`);
</script>