---
import Content from "./Content.astro";
const blog = Astro.props.blog;
const themeConfig = Astro.locals.config.themeConfig;
const lastModified = new Date(blog.updatedAt);
const created = new Date(blog.createdAt);
const createdSince = Math.floor((new Date() - created) / 1000 / 60 / 60 / 24);
const modifiedSince = Math.floor((new Date() - lastModified) / 1000 / 60 / 60 / 24);
import {get} from "../utils/redis";
import {getContent} from "../utils/notion/posts";
import Copyright from "../components/Copyright.astro";
const posts = await getContent(blog.id);
---
<article class="post yue">
    {createdSince > 30 && <p class="notice">
        请注意，本文编写于 {createdSince} 天前,最后修改于 {modifiedSince} 天前，其中某些信息可能已经过时。
    </p>}
    <div class="articleBody" class="full">
        <Content blocks={posts}> </Content>
    </div>

    <Copyright blog={blog}/>
    <div class="social-button"
         data-url={Astro.url.href}
         data-title={blog.title}
         data-excerpt={blog.excerpt}
         data-img={blog.banner}
         data-twitter={themeConfig.twitterId || ""}
         data-weibo={themeConfig.weiboId || ""}
         data-image={blog.banner}>
        <!--    赞赏码似乎没啥必要了还是加上吧 TODO-->
        <a role=button
           aria-label="为文章点赞"
           id="social"
           href="javascript:void(0);" onclick="VOID_Vote.vote(this);"
           data-item-id={blog.id}
           data-type="up"
           data-table="content"
           class="btn btn-normal post-like vote-button"
        >Like <span class="value">{await get(blog.id)||0}</span>
        </a>
        <a aria-label="分享到微博" href="javascript:void(0);" onclick="Share.toWeibo(this);"
           class="social-button-icon"><i class="voidicon-weibo"></i></a>
        <a aria-label="分享到Twitter" href="javascript:void(0);" onclick="Share.toTwitter(this);"
           class="social-button-icon"><i class="voidicon-twitter"></i></a>
    </div>
    <!--    分页不做了 DEPRECATED -->
</article>
<script is:inline>
    (function () {
        $.each($('iframe'), function (i, item) {
            var src = $(item).attr('src');
            if (typeof src === 'string' && src.indexOf('player.bilibili.com') > -1) {
                // $(item).addClass('bili-player');
                // if (src.indexOf('&high_quality') < 0) {
                //     src += '&high_quality=1'; // 启用高质量
                //     $(item).attr('src', src);
                // }
                $(item).wrap('<div class="bili-player"></div>');
            }
        });
    })();
</script>