---
import Ldjson from "../components/Ldjson.astro";
import Banner from "../components/Banner.astro";
import PostList from "../components/PostsList.astro";
const {title} = Astro.props;
const {slug} = Astro.params;
const banner = "/assets/banner.jpg";
const url = new URL(Astro.request.url);
let builtclass = ["wrapper", "container"];
const siteConfig = Astro.locals.config.siteConfig;
const themeConfig = Astro.locals.config.themeConfig;
if (themeConfig.indexStyle == 1) {
    builtclass.push("narrow");
} else {
    builtclass.push("wide");
}
const posts = Astro.props.posts;
const nowPage = url.searchParams.get("p") || 1;
---

<title hidden>
    {title}
</title>
<Ldjson url={url} banner={banner}/>
<Banner banner="/assets/banner.jpg" type="index" title={title} desc={""}/>
<div class:list={builtclass}>
    <PostList posts={posts} category={slug} nowPage={nowPage}/>
</div>