---
import {statics} from "../utils/statistics";
import Ldjson from "../components/Ldjson.astro";
import Banner from "../components/Banner.astro";
import CategoryList from "../components/CategoryList.astro";
const title = "标签们"
const url = new URL(Astro.request.url);
const siteConfig = Astro.locals.config.siteConfig;
const themeConfig = Astro.locals.config.themeConfig;
let builtclass = ["wrapper", "container"];
if (themeConfig.indexStyle == 1) {
    builtclass.push("narrow");
    } else {
    builtclass.push("wide");
    }
const {cate,tags,words,posts} = await statics();
---
<title hidden>
    {title}
</title>
<Ldjson url={url} banner={"/assets/banner.jpg"}/>
<Banner
        banner="/assets/banner.jpg"
        type="index"
        title={title}
        desc={""}/>
<div class:list={builtclass}>
    <CategoryList/>
</div>