---
import Ldjson from "../components/Ldjson.astro";
import Banner from "../components/Banner.astro";
import ArchiveList from "../components/ArchiveList.astro";
const title = Astro.props.title;
const url = new URL(Astro.request.url);
const siteConfig = Astro.locals.config.siteConfig;
const themeConfig = Astro.locals.config.themeConfig;
const subTitle = Astro.props.subtitle;
const postsByYear = Astro.props.postsByyear;
---
<title hidden>
    {title}
</title>
<Ldjson url={url} banner={"/assets/banner.jpg"}/>
<Banner
        banner="/assets/banner.jpg"
        type="archiveF"
        title={title}
        desc={subTitle}/>
<div class:list={["wrapper", "container",themeConfig.indexStyle == 1?"narrow":"wide"]}>
    <ArchiveList postsByYear={postsByYear}/>
</div>