---
import {ImageMetadata} from "astro";
import PostList from '../components/PostsList.astro';
import Banner from "../components/Banner.astro";
import Ldjson from "../components/Ldjson.astro";
const siteConfig = Astro.locals.config.siteConfig;
const themeConfig = Astro.locals.config.themeConfig;
interface Props {
    title?: string;
    desc?: string;
    banner?: ImageMetadata;
}
const props = Astro.props;

const title = props.title ?? siteConfig.title;
// const title = props.titile || Astro.locals.config.title;
const url = new URL(Astro.request.url);
const posts = Astro.props.posts;
---
<title hidden>
    {title}
</title>
<Ldjson url={url} banner={props.banner}/>
<Banner banner="/assets/banner.jpg" type="index" title={title} desc={siteConfig.desc}/>
<div class:list={["wrapper", "container",themeConfig.indexStyle == 1?"narrow":"wide"]}>
    <PostList posts={posts} nowPage={props.nowPage}/>
</div>