---
import Ldjson from "../components/Ldjson.astro";
import Banner from "../components/Banner.astro";
import ArchiveList from "../components/ArchiveList.astro";
import {statics} from "../utils/statistics";
const title = "归档";
const url = new URL(Astro.request.url);
const siteConfig = Astro.locals.config.siteConfig;
const themeConfig = Astro.locals.config.themeConfig;
let builtclass = ["wrapper", "container"];
if (themeConfig.indexStyle == 1) {
    builtclass.push("narrow");
} else {
    builtclass.push("wide");
}
const {cate,tags,words,posts} = await statics();
const subTitle = `${posts} 文章 x ${cate} 标签 x ${words} 字` ;

---
<title hidden>
    {title}
</title>
<Ldjson url={url} banner={"/assets/banner.jpg"}/>
<Banner
        banner="/assets/banner.jpg"
        type="index"
        title={title}
        desc={subTitle}/>
<div class:list={builtclass}>
    <ArchiveList/>
</div>